<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TransportHacker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 </head>
 <body>
  <div class="site-wrapper">
   <div class="site-wrapper-inner">
    <div class="cover-container">
     <div class="masthead clearfix">
      <div class="inner">
       <h3 class="masthead-brand">TransportHacker</h3>
       <ul class="nav masthead-nav">
        <%= content_tag :li, :class => (controller_name == 'main' ? :active : '') do %><%= link_to 'Home', '/' %><% end %>
        <%= content_tag :li, :class => (controller_name == 'road' ? :active : '') do %><%= link_to 'Road', { :controller => 'road' } %><% end %>
        <%= content_tag :li, :class => (controller_name == 'rail' ? :active : '') do %><%= link_to 'Rail', { :controller => 'rail' } %><% end %>
        <%= content_tag :li, :class => (controller_name == 'bus' ? :active : '') do %><%= link_to 'Bus', { :controller => 'bus' } %><% end %>
        <%= content_tag :li, :class => (controller_name == 'tube' ? :active : '') do %><%= link_to 'Tube', { :controller => 'tube' } %><% end %>
       </ul>
      </div>
     </div>
     <div class="inner cover">
      <div class="content">
<%= yield %>
      </div>
     </div>
    </div>
   </div>
  </div>
 </body>
 <script>
  <%= yield :script %>
 </script>
</html>
